.offers-list {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: flex-start;
    padding: 20pt;
}

.offer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 200pt;
    margin-bottom: 20pt;
    text-decoration: none;
}

.offer>h4 {
    margin: 10pt;
}

.offer>p {
    margin: 0 10pt 5pt;
}